.imagesContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  height: auto;
  grid-gap: 20px;
  padding: 30px;
}

.imagesContainer > div:hover {
  transform: scale(1.1);
  transition: all;
  transition-duration: 0.5s;
}
